<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8">
		<title>修改密码</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../assets/css/mui.min.css" />	
		<link rel="stylesheet" href="../../assets/css/page/iphoneX.css" />
		<link rel="stylesheet" href="../../assets/css/page/user.css" />
	</head>
	
	<body>		
		<!--header begin-->

		<header class="mui-bar mui-bar-nav m-pw-head">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a id="done" class="mui-pull-right u-right">完成</a>
		    <h1 class="mui-title u-title">修改密码</h1>
		</header>

		<!--header end-->

		<!--content begin-->
		<div class="mui-content g-password">
			<form class="mui-input-group m-form">
				<div class="mui-input-row">
					<label>原密码：</label>
					<input id="oldPwd" type="password" placeholder="请填写原密码">
				</div>
				<div class="mui-input-row">
					<label>新密码：</label>
					<input id="newPwd" type="password" placeholder="请输入新的密码">
				</div>
				<div class="mui-input-row">
					<label>确认密码:</label>
					<input id="newConfirm" type="password" placeholder="请再次输入新的密码">
				</div>				
			</form>
			<div class="m-tip">
				<p>密码6~18位，不能包含特殊字符。</p>
			</div>			
		</div>	
		<!--content end-->
		
		<script src="../../lib/mui.min.js"></script>
		<script src="../../lib/jsencrypt.min.js"></script>
		<script src="../../assets/js/config.js"></script>
		<script src="../../assets/js/util.js"></script>
		<script src='../../assets/js/page/modify_password.js'></script>
		<script>
			mui.init();
			mui.plusReady(function(){
				modifyPassword.init();
			})
		</script>		
	</body>
</html>
