<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8">
		<title>发现</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../assets/css/mui.min.css" />
		<link rel="stylesheet" href="../../assets/css/page/iphoneX.css" />
		<link rel="stylesheet" href="../../assets/css/page/navbar.css"/>
		<link rel="stylesheet" href="../../assets/css/page/user.css" />
		<link rel="stylesheet" href="../../assets/css/page/message.css"/>
	</head>
	<style type="text/css">
		.no-data {
				background: #f1f1f1;font-size: 14px;text-align: center;
			}
			
		.no-data div {
			color: #C0C0C0;
		}
	</style>

	<body>
		
		<header class="mui-bar mui-bar-nav m-set-head">		
		    <h1 class="mui-title u-title">发现</h1>
		</header>
		
		<footer id="navFooter" class="m-footer"></footer>
		<div class="indicatorMask"></div>
		
		<div class="mui-content g-message no-data">
			<!--消息列表 begin-->
			<div class="no-data" style="margin-top: 160px;width:100%;height:100%;">
				<img src="../../assets/images/404/no-data.png" style="width: 200px;height: 150px;"/>
				<div>暂时没有数据~</div>
			</div>
		</div>

		<script src="../../lib/mui.min.js"></script>
		<script src="../../lib/arttemplate.js"></script>
		<script src="../../assets/js/config.js"></script>
		<script src="../../assets/js/util.js"></script>
		<script src="../../assets/js/page/navbar.js"></script>
	</body>
</html>

