<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<title>注册</title>
		<link rel="stylesheet" href="../../assets/css/mui.min.css"/>
		<link rel="stylesheet" href="../../assets/css/mui.picker.min.css"/>
		<link rel="stylesheet" href="../../assets/css/page/iphoneX.css" />
		<link rel="stylesheet" href="../../assets/css/page/login.css"/>
	</head>  
	<body>
		
		<a style="margin:45px 0 0 10px;color: #FFFFFF;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<div class="mui-content">
		    <!--register begin--> 
			
			<div id="infoRegister" class="g-password-login">
				<div class="title">
					<span>注&nbsp;&nbsp;册</span><br />
					<span class="english">SIGN UP</span>
				</div>
				<div class="login-form">
					<div class="m-phone">
						<input id="phoneNum" type="tel" value="" placeholder="请输入手机号"/>
					</div>
					<div class="m-password">
						<input id="password" type="password" value="" placeholder="请输入密码" />
					</div>
					<div class="m-pwd-confirm">
						<input id="pwdConfirm" type="password" value="" placeholder="请确认密码" />
					</div>
					<div class="m-code">
						<input id="verificationCode" type="tel" value="" placeholder="请输入验证码" />
						<button id="getVerification" class="mui-btn-warning" type="button">发送验证码</button>
					</div>
					
					<div class="m-pwd-tips">
						<span>密码长度6~18位，不能含有特殊字符</span>
					</div>
					<button id="registerBtn" class="mui-btn mui-btn-block u-btn-login" type="button">注 册</button>
					
				</div>
				<div class="mui-content-padded m-shift">
					<div class="link-area">
						<span id='toLogin'>我要登录</span> 
					</div>
				</div>
			</div>	
		    <!--register end-->
		    
		    
		    <!--info confirm begin-->
		    <div id="infoConfirm" class="g-password-login" style="display: none;">
				<div class="title">
					<span>注&nbsp;&nbsp;册</span>
				</div>
				<div class="login-form">
					<div class="m-user m-student">
						<span>学生姓名：</span> <input id="studentName" type="text" value="" placeholder="请输入学生姓名"/>
					</div>
					<div id="area" class="m-user m-select">
						<span>区域：</span><input id="areaInput" type="text" readonly value="" placeholder="请选择区域" />
					</div>
					<div id="school" class="m-user m-select">
						<span>学校：</span><input id="schoolInput" type="text" readonly value="" placeholder="请选择学校" />
					</div>
					<div id="className" class="m-user m-select">
						<span>班级：</span><input id="classInput" type="text" readonly value="" placeholder="请选择班级" />
					</div>
					<button id="confirmBtn" class="mui-btn mui-btn-block u-btn-login" type="button">确认信息</button>
				</div>
				
			</div>
		    <!--info confirm end-->
		    
		    
		    <div id="tips" class="g-tips" style="display: none;">
			    	<div class="u-tips">
			    		<span>您的信息已提交<br />请耐心等待审核~</span>
			    	</div>
			    	<div id="tologin" class="u-tologin">
			    		去登录
			    	</div>
		    </div>
		</div>
		
		
		<script src="../../lib/mui.min.js"></script>
		<script src="../../lib/jsencrypt.min.js"></script>
		<script src="../../lib/mui.picker.min.js"></script>
		<script src="../../assets/js/config.js"></script>
		<script src="../../assets/js/util.js"></script>
		<script src="../../assets/js/page/register.js"></script>
		<script>
			mui.init();
			mui.plusReady(function(){
				register.init();
			})
		</script>
	</body>
</html>
